<ion-content [fullscreen]="true"  color="primary">
  <div class="container">
    <ion-grid [fixed]="true">
      <ion-row size="1" class="logoWindow">
        <ion-col class="image">
            <img class="logoImage" src="../../assets/sweLogo.PNG">
        </ion-col>
      </ion-row>
      
      <ion-row size="1" class="imageWindow">
        <ion-col class="image">
            <img class="assetImage" src="../../assets/undraw_engineering_team_a7n2.svg">
        </ion-col>
      </ion-row>

      <ion-row size="1">
        <ion-card class="buttonsWindow" color="secondary">
          <ion-card-title class="title">
            Welcome to Ohio State SWE!
          </ion-card-title>
          <ion-card-content>
            <div>
              <app-home-componenet></app-home-componenet>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
