@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.logoWindow{
    text-align: center;
    height: fit-content;
    padding: 0;
}
.image{
    width: 100%;
    height: fit-content;
}
.logoImage{
    width: 25%;
    height: auto;
}


.imageWindow{
    height: fit-content;
    padding: 0;
    text-align: center;
    margin: 15vh 0vw 5vh 0vw;
}

.assetImage{
    width: 75%;
    height: auto;
}
.buttonsWindow{
    height: 25vh;
    width: 80vw;
    padding: 0;
    margin: 10vh 10vw 0vh 10vw;
}
.title{
    text-align: center;
    font-size: large;
    margin-top: 8%;
    font-family: 'Open Sans', sans-serif;
}